.article-navigation {
    padding: 30px 30px;
    .row {
        .article-navigation-headline {
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }
        .navigation {
            width: 100%;
            h2 {
                width: 100%;
                text-align: center;
            }
            .nav-links {
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                max-width: 400px;
                .nav-previous {
                    transition: all .2s ease-in-out;
                    background: $topmenu-background;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    max-width: 170px;
                    a {
                        transition: all .2s ease-in-out;
                        text-decoration: none;
                        text-align: center;
                        width: 100%;
                        padding: 10px 0;
                        color: $white;
                        display: flex;
                        justify-content: center;
                        &::before {
                            content: '\E001';
                            font-family: "bcFont";
                            margin-right: 15px;
                        }
                    }
                    &:hover {
                        opacity: .75;
                        a {
                            color: $white;
                        }
                    }
                }
                .nav-next {
                    background: $topmenu-background;
                    display: flex;
                    justify-content: center;
                    transition: all .2s ease-in-out;
                    width: 100%;
                    max-width: 170px;
                    a {
                        display: flex;
                        justify-content: center;
                        transition: all .2s ease-in-out;
                        text-decoration: none;
                        text-align: center;
                        width: 100%;
                        padding: 10px 0;
                        color: $white;
                        &::after {
                            content: '\E002';
                            font-family: "bcFont";
                            margin-left: 15px;
                        }
                    }
                    &:hover {
                        opacity: .75;
                        a {
                            color: $white;
                        }
                    }
                }
                @include media('<=1199px') {
                    max-width: unset;
                    width: 100%;
                    .nav-previous, .nav-next {
                        max-width: unset;
                        width: 100%;
                    }
                }
            }
        }
    }
}