.bc--breadcrumbs {
    display: flex;
    height: auto;
    min-height: 30px;
    background: $topmenu-background;
    .bc--breadcrumbs-navigation {
        align-self: center;
        display: flex;
        flex-direction: row;
        p {
            margin: 0;
            text-decoration: none;
            color: $white;
            font-size: 16px;
        }
        a {
            transition: all .3s ease-in-out;
            text-decoration: none;
            color: $hover-color;
            font-size: 16px;
            &:hover {
                opacity: .75;
            }
        }
        .delimiter {
            color: $white;
            margin: 0px 10px;
            font-size: 16px;
        }
        .bc--breadcrumbs-page {
            color: $white;
            font-size: 16px;
        }
    }
}