#cookie-law-info-bar {
    background: $topmenu-background !important;
    span {
        font-weight: 700;
        color: $white;
        #cookie_action_close_header {
            color: $topmenu-background !important;
            background: $white !important;
            border-radius: 5px;
            font-weight: 900;
        }
        @include media('<=767px') {
            #cookie_action_close_header {
                width: 100%;
            }
            .cli_settings_button {
                width: 100%;
            }
        }
    }
}

#cookie-law-info-again {
    background: $hover-color !important;
    right: 20px !important;
    span {
        color: $white;
    }
}