.wysiwyg--section {
    margin-bottom: 30px;
    width: 100%;
    padding: 30px 15px;
    .row {
        width: 100%;
        justify-content: center;
        .section-headline {
            margin: 0;
            padding: 0;
        }
        p {
            font-size: 20px;
            line-height: 28px;
            width: 100%;
            a {
                color: $hover-color;
                transition: all .3s ease-in-out;
                &:hover {
                    opacity: .8;
                }
            }
            @include media('<=575px') {
                font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (575 - 320)));
                line-height: calc(16px + (28 - 16) * ((100vw - 320px) / (575 - 320)));
            }
        }
        li {
            font-size: 20px;
            line-height: 28px;
            @include media('<=575px') {
                font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (575 - 320)));
                line-height: calc(16px + (28 - 16) * ((100vw - 320px) / (575 - 320)));
            }
        }
        a {
            font-size: 20px;
            line-height: 28px;
            @include media('<=575px') {
                font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (575 - 320)));
                line-height: calc(16px + (28 - 16) * ((100vw - 320px) / (575 - 320)));
            }
        }
    }
}