.last-news--section {
    background: rgb(140, 191, 238);
    padding: 100px 0;
    .row {
        .articles {
            .single-article {
                height: 400px;
                display: flex;
                flex-direction: column;
                .article-head {
                    padding-bottom: 15px;
                    border-bottom: 3px solid red;
                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                        border-radius: 15px;
                    }
                }
                .article-body {
                    padding-top: 15px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    height: 100%;
                    .excerpt {
                        text-align: justify;
                        align-self: flex-start;
                    }
                    .link {
                        align-self: flex-start;
                    }
                }
            }
        }
    }
}