.wysiwyg--section {
    margin-bottom: 30px;
    width: 100%;
    padding: 30px 15px;
    .row {
        width: 100%;
        justify-content: center;
        .section-headline {
            margin: 0;
            padding: 0;
        }
        p {
            width: 100%;
            a {
                color: $hover-color;
                transition: all .3s ease-in-out;
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
}