.intro--section {
    height: 385px;
    width: 100%;
    display: flex;
    flex-direction: column;
    .intro--background-image {
        object-fit: cover;
        height: 350px;
        width: 100%;
        position: absolute;
    }
    .headline-box {
        align-self: center;
        position: absolute;
        margin-top: 75px;
        .row {
            flex-direction: column;
            h1 {
                color: $white;
            }
            h2 {
                color: $white;
            }
        }
    }

    .action-box {
        align-self: center;
        position: absolute;
        bottom: 0;
        .row {
            justify-content: space-between;
            .action {
                cursor: pointer;
                transition: all .2s ease-in-out;
                height: 100px;
                box-shadow: 0px 0px 6px 0px rgb(212, 212, 212);
                border-bottom: 0;
                display: flex;
                justify-content: center;
                flex-direction: row;
                color: $white;
                .action-text {
                    font-size: 24px;
                    align-self: center;
                    margin: 0 0 0 15px;
                }
                .action-icon {
                    font-size: 24px;
                    align-self: center;
                }
                &:hover {
                    background: rgb(75, 75, 75) !important;
                }
            }
        }
    }
}