.map--section {
    padding: 30px 15px;
    margin-bottom: 30px;
    .row {
        .widget-headline {
            margin-bottom: 30px;
            width: 100%;
            text-align: center;
        }
        .map-container {
            padding-left: 0;
            padding-right: 0;
            .map-embed {
                overflow: hidden;
                padding-bottom: 30%;
                position: relative;
                height: 0;
                iframe {
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
            }
        }
    }
}