.wysiwyg--section {
    margin-bottom: 30px;
    width: 100%;
    padding: 30px 15px;
    .row {
        .section-headline {
            margin: 0;
            padding: 0;
        }

        .content {
            p {
                a {
                }
            }
        }
    }
}