.bc--header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $topmenu-background;
    .bc--topmenu {
        display: flex;
        height: 40px;
        background: $topmenu-background;
        justify-content: space-between;
        padding: 0 15px;
        .left {
            align-self: center;
            .meta-nav {
                display: flex;
                .box {
                    height: 40px;
                    transition: all .2s ease-in-out;
                    text-transform: none;
                    text-decoration: none;
                    padding: 7px 15px;
                    align-self: center;
                    span {
                        height: 40px;
                        vertical-align: text-top;
                        color: $white;
                    }
                    &:hover {
                        background: $hover-color;
                    }
                }
            }
        }
        .right {
            align-self: center;
            display: flex;
            .box {
                overflow: hidden;
                display: flex;
                flex-direction: row;
                width: 300px;
                max-width: 42px;
                height: 40px;
                transition: all .3s ease-in-out;
                text-transform: none;
                text-decoration: none;
                padding: 7px 15px;
                align-self: center;
                cursor: pointer;
                .search-logo, .close-logo {
                    height: 40px;
                    vertical-align: text-top;
                    color: $white;
                    display: none;
                    width: fit-content;
                }
                .search-logo {
                    &.active {
                        display: block;
                    }
                }
                .close-logo {
                    &.active {
                        display: block;
                    }
                }
                &:hover {
                    background: $hover-color;
                }
                .bc-search--form {
                    height: 26px;
                    visibility: hidden;
                    padding: 0;
                    width: 0;
                    transition: all .3s ease-in-out;
                    align-self: center;
                    margin-left: 10px;
                    &:focus, &:active {
                        border: 0;
                        border-color: unset;
                        outline: 0;
                    }
                    .search-button {
                        display: flex;
                        span {
                            font-size: 10px;
                            margin-bottom: 5px;
                        }
                    }
                }
                &.active {
                    max-width: 300px;
                    .bc-search--form {
                        visibility: unset;
                        width: 100%;
                    }
                    &:hover {
                        background: unset;
                    }
                }
            }
            .top-menu {
                align-self: center;
                ul {
                    list-style: none;
                    display: flex;
                    margin: 0;
                    li {
                        display: flex;
                        height: 40px;
                        padding: 3px;
                        transition: all .2s ease-in-out;
                        align-self: center;
                        a {
                            align-self: center;
                            text-decoration: none;
                            color: $white;
                        }
                        &:hover {
                            background: $hover-color;
                        }
                    }
                }
            }
        }
        @include media('<=767px') {
            display: none;
        }
    }

    .bc--navigation {
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        border-bottom: 2px solid $border-color;
        clip-path: polygon(0 0, 100% 0, 100% 99%, 0 99%);
        .left {
            align-self: flex-start;
            display: flex;
            justify-content: flex-start;
            height: 110px;
            a {
                display: flex;
                justify-content: center;
                .school-logo {
                    width: 300px;
                    height: 100px;
                    object-fit: contain;
                    align-self: center;
                }
            }
            @include media('<=767px') {
                height: 90px;
                a {
                    .school-logo {
                        width: 200px;
                        height: 75px;
                        object-fit: cover;
                    }
                }
            }
        }

        .right {
            align-self: start;
            display: flex;
            justify-content: flex-end;
            .navigation {
                margin-top: 15px;
                display: flex;
                width: 100%;
                justify-content: flex-end;
                .big-navigation {
                    display: flex;
                    align-self: center;
                    .menu-hauptmenue-container {
                        .main-menu {
                            display: flex;
                            justify-content: center;
                            flex-direction: row;
                            list-style-type: none;
                            margin: 0;
                            li {
                                font-weight: 700;
                                margin: 15px 25px;
                                display: flex;
                                align-self: center;
                                .subitem-link {
                                    align-self: center;
                                    transition: all .2s ease-in-out;
                                    text-decoration: none;
                                    font-size: 18px;
                                    color: $white;
                                    cursor: pointer;
                                    span {
                                        margin-top: -5px;
                                        position: absolute;
                                        align-self: center;
                                        transition: all .2s ease-in-out;
                                        margin-left: 5px;
                                        color: $white;
                                    }
                                }
                                .sub-menu-container {
                                    box-shadow: 0px 0px 4px 0px rgb(112, 112, 112);
                                    z-index: 25;
                                    transition: all .2s ease-in-out;
                                    margin-top: 30px;
                                    position: absolute;
                                    margin-left: -15px;
                                    max-height: 0;
                                    height: auto;
                                    overflow: hidden;
                                    background: $topmenu-background;
                                    border-radius: 10px;
                                    .sub-menu {
                                        transition: all .2s ease-in-out;
                                        padding: 0;
                                        width: 100%;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: flex-end;
                                        li {
                                            transition: all .2s ease-in-out;
                                            margin: 0;
                                            padding: 15px 25px;
                                            width: 100%;
                                            align-self: center;
                                            display: flex;
                                            justify-content: center;
                                            a {
                                                transition: all .2s ease-in-out;
                                                text-align: center;
                                            }
                                        }
                                    }
                                }
                                &:hover {
                                    .sub-menu-container {
                                        border-radius: 10px;
                                        max-height: 500px;
                                        height: auto;
                                        display: flex;
                                        justify-content: center;
                                        background: $topmenu-background;
                                        .sub-menu {
                                            li {
                                                a {
                                                    color: $white;
                                                }
                                                &:hover {
                                                    background-color: $hover-color;
                                                    a {
                                                        color: $white;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .subitem-link {
                                        color: $hover-color;
                                        span {
                                            color: $hover-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    @include media('<=767px') {
                        display: none;
                    }
                }
                @include media('<=991px') {
                    justify-content: center;
                    margin-top: -150px;
                    .navigation {
                        .big-navigation {
                            .menu-hauptmenue-container {
                                .main-menu {
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
                @include media('<=767px') {
                    margin-top: 0px;
                }
            }
            @include media('<=767px') {
                z-index: 200;
                position: fixed;
            }
        }
        @include media('<=767px') {
            height: 110px;
            border-bottom: unset;
        }

        .action-boxes {
            align-self: flex-end;
            justify-content: center;
            display: flex;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            margin-top: 10px;
            .row {
                justify-content: space-between;
                width: 110%;
                .box {
                    z-index: 0;
                    text-decoration: none;
                    max-width: 350px;
                    transition: all .3s ease-in-out;
                    padding: 10px;
                    border: 2px solid $white;
                    cursor: pointer;
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                    min-height: 100px;
                    background: rgba(0, 0, 0, .5);
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    background-size: cover !important;
                    .left-box {
                        margin-left: 10px;
                        width: 100%;
                        align-self: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        p {
                            transition: all .3s ease-in-out;
                            text-decoration: none;
                            font-weight: 900;
                            width: 100%;
                            text-transform: uppercase;
                            align-self: center;
                            color: $white;
                            margin: 0;
                            font-size: 26px;
                            &.small {
                                text-decoration: none;
                                font-weight: 500;
                                font-size: 14px;
                                text-transform: unset;
                                &::before {
                                    content: '\2192';
                                    margin-right: 5px;
                                    align-self: center;
                                }
                            }
                        }
                        @include media('<=1199px') {
                            p {
                                font-size: calc(18px + (26 - 18) * ((100vw - 768px) / (1199 - 768)));
                                &.small {
                                    font-size: calc(12px + (14 - 12) * ((100vw - 768px) / (1199 - 768)));
                                }
                            }
                        }
                    }
                    .right-box {
                        margin-right: 10px;
                        width: 40%;
                        align-self: center;
                        display: flex;
                        justify-content: center;
                        i {
                            transition: all .3s ease-in-out;
                            text-decoration: none;
                            align-self: center;
                            font-size: 54px;
                            color: $white;
                        }
                    }
                    &:hover {
                        background: rgba(0, 0, 0, 1);
                        .left-box {
                            p {
                                &:first-child {
                                    color: $hover-color;
                                }
                            }
                        }
                        .right-box {
                            i {
                                color: $hover-color;
                            }
                        }
                    }
                    @include media('<=1199px') {
                        max-width: unset;
                    }
                }
            }
            @include media('<=1199px') {
                max-width: unset;
                padding: 0 30px;
            }
            @include media('<=767px') {
                display: none;
            }
        }
        @include media('<=767px') {
            .left {
                a {
                    img {
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    &.single-page {
        .bc--navigation {
            background-image: unset !important;
            background: $white;
            height: 110px;
            clip-path: unset;
            .left {
                a {
                    height: 110px;
                    display: flex;
                    justify-content: center;
                    img {
                        margin: 0;
                    }
                }
            }
            .right {
                .navigation {
                    height: 110px;
                    margin: 0;
                    .big-navigation {
                        .menu-hauptmenue-container {
                            .main-menu {
                                li {
                                    a {
                                        color: #3d3d3d;
                                        span {
                                            color: #3d3d3d;
                                        }
                                    }
                                    .sub-menu-container {
                                        z-index: 20;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .action-boxes {
                display: none;
            }
            @include media('<=991px') {
                justify-content: center;
                min-height: 220px;
                .right {
                    .navigation {
                        .big-navigation {
                            .menu-hauptmenue-container {
                                .main-menu {
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
            @include media('<=767px') {
                justify-content: flex-start;
                height: 110px;
                min-height: unset;
            }
        }
    }


    .small-navigation {
        display: none;
        opacity: 0;
        max-height: 0;
        height: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
        background: $topmenu-background;
        z-index: 50;
        flex: 0;
        flex-direction: column;
        justify-content: flex-start;
        .menu-hauptmenue-container {
            width: 100%;
            ul {
                margin: 0;
                padding: 0;
                width: 100%;
                list-style: none;
                li {
                    transition: all .3s ease-in-out;
                    padding: 20px 0;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    background: $topmenu-background;
                    width: 100%;
                    border-bottom: 2px solid $white;
                    flex-direction: column;
                    a {
                        align-self: center;
                        color: $white;
                        text-decoration: none;
                        span {
                            position: absolute;
                            margin-top: -5px;
                            margin-left: 10px;
                        }
                    }
                    .sub-menu-container {
                        display: flex;
                        transition: all .3s ease-in-out;
                        justify-content: center;
                        margin-top: 15px;
                        visibility: hidden;
                        overflow: hidden;
                        opacity: 0;
                        height: 0;
                        max-height: 0;
                        ul {
                            li {
                                border-bottom: unset;
                                padding: 8px 0;
                            }
                        }
                    }
                    &.open {
                        a {
                            span {
                                color: $hover-color;
                            }
                        }
                        .sub-menu-container {
                            visibility: unset;
                            opacity: 1;
                            height: auto;
                            max-height: 800px;
                        }
                    }
                    &:last-child {
                        border-bottom: 0;
                    }
                    &:hover {
                        a {
                            span {
                                color: $hover-color;
                            }
                        }
                    }
                }
            }
        }

        .meta-nav {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 50px;
            .box {
                color: $white;
                text-decoration: none;
                transition: all .2s ease-in-out;
                cursor: pointer;
                width: 50px;
                height: 50px;
                background: unset;
                border-radius: 10px;
                border: 1px solid $white;
                padding: 5px;
                display: flex;
                justify-content: center;
                .logo {
                    height: 45px;
                    align-self: center;
                    font-size: 30px;
                    text-align: center;
                }
                &:hover {
                    background: $hover-color;
                }
            }
        }

        &.show {
            padding: 30px 0;
            opacity: 1;
            visibility: unset;
            height: auto;
            max-height: 1000px;
        }
        @include media('<=767px') {
            display: flex;
        }
    }


    @include media('<=767px') {
        z-index: 500;
        background: $topmenu-background;
        .bc--navigation {
            background: unset !important;
        }
    }
}