@font-face {
	font-family: "bcFont";
	src: url('../../dist/fonts/bcFont.eot');
	src: url('../../dist/fonts/bcFont.eot?#iefix') format('eot'),
		url('../../dist/fonts/bcFont.woff2') format('woff2'),
		url('../../dist/fonts/bcFont.woff') format('woff'),
		url('../../dist/fonts/bcFont.ttf') format('truetype'),
		url('../../dist/fonts/bcFont.svg#bcFont') format('svg');
}

@mixin icon-styles {
	font-family: "bcFont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrowsingle {
		$char: "\E001";
	}
	@if $filename == down {
		$char: "\E002";
	}
	@if $filename == quote {
		$char: "\E003";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrowsingle {
	@include icon(arrowsingle);
}
.icon-down {
	@include icon(down);
}
.icon-quote {
	@include icon(quote);
}
