.single-content-area {
    padding: 15px;
    .post-single {
        .post-head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 15px;
            .head-left {
                .download-button {
                    text-decoration: none;
                    background: $topmenu-background;
                }
                .article-headline {
                    margin: 0;
                    margin-bottom: 15px;
                }
                .post-meta-data {
                    display: flex;
                    flex-direction: row;
                    p {
                        font-size: 12px;
                        line-height: 14px;
                        &:last-child {
                            margin-left: 5px;
                        }
                    }
                }
                .post-meta-list {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    .list {
                        display: flex;
                        flex-direction: row;
                        ul {
                            flex-wrap: wrap;
                            margin-left: 10px;
                            padding: 0;
                            list-style: none;
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 0;
                            li {
                                align-self: center;
                                a {
                                    transition: all .2s ease-in-out;
                                    font-size: 12px;
                                    color: #888;
                                    font-style: italic;
                                    text-decoration: none;
                                    &::after {
                                        content: '-';
                                        margin: 0 5px;
                                    }
                                    &:hover {
                                        color: $hover-color;
                                    }
                                }
                                &:last-child {
                                    a {
                                        &::after {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                        p {
                            margin: 0;
                        }
                        span {
                            font-style: italic;
                            margin: 0;
                            margin-left: 10px;
                            color: #888;
                        }
                    }
                }
                @include media('<=991px') {
                    margin-bottom: 30px;
                }
            }
            .head-right {
                display: flex;
                justify-content: flex-end;
                .post-image {
                    border-radius: 5px;
                    height: 100%;
                    min-height: 175px;
                    width: 500px;
                    max-height: 200px;
                    object-fit: cover;
                }
                .download-icon {
                    color: $hover-color;
                    align-self: flex-start;
                    font-size: 80px;
                }
            }
        }
        .content {
            margin-top: 30px;
            margin-bottom: 30px;
            .post-meta-list {
                margin: 0;
                display: flex;
                flex-direction: column;
                .list {
                    display: flex;
                    flex-direction: row;
                    ul {
                        flex-wrap: wrap;
                        margin-left: 10px;
                        padding: 0;
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 0;
                        li {
                            align-self: center;
                            a {
                                transition: all .2s ease-in-out;
                                font-size: 12px;
                                color: #888;
                                font-style: italic;
                                text-decoration: none;
                                &::after {
                                    content: '-';
                                    margin: 0 5px;
                                }
                                &:hover {
                                    color: $hover-color;
                                }
                            }
                            &:last-child {
                                a {
                                    &::after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                    p {
                        margin: 0;
                        align-self: center;
                    }
                    span {
                        font-style: italic;
                        margin: 0;
                        margin-left: 10px;
                        color: #888;
                    }
                }
            }
            .content-text {
                margin-top: 15px;
                font-size: 18px;
                line-height: 28px;
                @include media('<=575px') {
                    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (575 - 320)));
                    line-height: calc(16px + (28 - 16) * ((100vw - 320px) / (575 - 320)));
                }
            }
            ul {
                li {
                    font-size: 18px;
                    line-height: 28px;
                    @include media('<=575px') {
                        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (575 - 320)));
                        line-height: calc(16px + (28 - 16) * ((100vw - 320px) / (575 - 320)));
                    }
                }
            }
            a {
                font-size: 18px;
                line-height: 28px;
                @include media('<=575px') {
                    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (575 - 320)));
                    line-height: calc(16px + (28 - 16) * ((100vw - 320px) / (575 - 320)));
                }
            }
            .slider-single-container {
                padding: 15px 0;
                width: 100%;
                .slick-list {
                    overflow: hidden;
                    .slick-track {
                        display: flex;
                        .slider-item {
                            margin: 0 15px;
                            width: 100%;
                            height: 500px;
                            img {
                                width: 100%;
                                height: 600px;
                                object-fit: cover;
                            }
                        }
                    }
                }
                .slick-dots {
                    position: relative;
                }
            }
        }
    }
}