/* Main style settings, that are used overall */
body {
    overflow-x: hidden;
    font-family: $baloo2-regular;
    .bc--main {
        padding: 0;
        margin: 0 auto;
        overflow-x: hidden;
    }
    &:not(.elementor-page) {
        .bc--main {
            &.bordered {
                border: 1px solid #eee;
                padding: 10px;
                border-radius: 0px;
                box-shadow: 0 0 1px 0 #aaa;
                border-top: unset;
                border-bottom: unset;
            }
        }
    }
}

/* The body scrollbar */
body::-webkit-scrollbar {
    width: .75em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: $hover-color;
    outline: 1px solid slategrey;
    border-radius: 5px;
}

/* The figure scrollbar */
figcaption::-webkit-scrollbar {
    width: .4em;
}
   
figcaption::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

figcaption::-webkit-scrollbar-thumb {
    background-color: $hover-color;
    outline: 1px solid slategrey;
    border-radius: 5px;
}

@include media('<=767px') {
    .container {
        max-width: 100%;
    }
}


h1 {
    @include media('<=575px') {
        font-size: calc(28px + (40 - 28) * ((100vw - 320px) / (575 - 320)));
    }
}
h1 {
    @include media('<=575px') {
        font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (575 - 320)));
    }
}

.sethighlight {
    background-color: $hover-color;
    color: #fff;
}

h1 {
    font-weight: 800;
}
h2 {
    font-weight: 600;
}
h3 {
    font-weight: 500;
}

.section {
    width: 100%;
}

.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 0 !important;
}

::selection {
    background: $hover-color;
    color: $white;
}

/* Remove basic outline */
.btn:focus, .btn, .btn:active, input, input:focus, input:active, select, select:focus, select:active, img:focus, img, img:active, textarea, textarea:focus, textarea:active, a, a:focus, a:active, div, div:focus, div:active {
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
}

/* widget */
.widget {
    padding: 25px 0 !important;
    @include media('<=991px') {
        padding: 25px 15px !important;
    }
}

/* Remove outfill input color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/* Slick slider dots */
.slick-dots {
    > li {
        button {
            &::before {
                font-size: 14px !important;
            }
        }
    }
}


/* The to top arrow */
.top-arrow-container {
    transition: all .3s ease-in-out;
    box-shadow: 0 0 3px 0 $white;
    cursor: pointer;
    position: fixed;
    right: 4%;
    bottom: 7%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: $topmenu-background;
    display: flex;
    justify-content: center;
    span {
        transition: all .2s ease-in-out;
        width: 100%;
        height: 35px;
        font-size: 18px;
        align-self: center;
        transform: rotate(180deg);
        color: white;
        text-align: center;
        margin-bottom: 8px;
    }
    &:hover {
        background: $hover-color;
        span {
            margin-bottom: 12px;
        }
    }
}


/* The corner container */
.corner-container {
    z-index: 1000;
    transition: all .3s ease-in-out;
    max-height: 55px;
    max-width: 55px;
    width: 55px;
    height: auto;
    position: fixed;
    right: 0;
    top: 40%;
    background: $hover-color;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
    .corner-container-toggle {
        width: 100%;
        text-align: center;
        align-self: center;
        color: $white;
        font-size: 36px;
    }
    .sidecontainer-list {
        transition: all .4s ease-in-out;
        list-style: none;
        margin: 0;
        padding: 0;
        opacity: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        li {
            a {
                cursor: pointer;
                text-decoration: none;
                align-self: center;
                color: $white;
                width: 100%;
                padding: 5px 0;
                width: 100%;
                display: flex;
                justify-content: center;
                span {
                    text-align: center;
                    font-size: 18px;
                    @include media('<=575px') {
                        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (575 - 320)));
                    }
                }
                &:hover {
                    background: $topmenu-background;
                }
            }
        }
    }
    &:hover {
        max-height: 500px;
        height: 186px;
        .sidecontainer-list {
            opacity: 1;
            width: auto;
        }
    }
}