.top-image-slider {
    border-bottom: 2px solid $topmenu-background;
    height: 350px;
    .carousel {
        .carousel-inner {
            display: flex;
            justify-content: center;
            .free-slider-text {
                border-radius: 15px;
                word-spacing: 30px;
                max-width: 775px;
                font-size: 60px;
                text-transform: uppercase;
                margin-top: 90px;
                color: $white;
                background: rgba(0, 0, 0, 0.35 );
                width: fit-content;
                padding: 10px;
                padding-left: 20px;
                align-self: center;
                z-index: 10;
                position: absolute;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                top: 0;
                @include media('<=1440px') {
                    font-size: calc(24px + (60 - 24) * ((100vw - 575px) / (1440 - 575)));
                    max-width: calc(350px + (775 - 350) * ((100vw - 575px) / (1440 - 575)));
                    margin-top: calc(140px + (90 - 140) * ((100vw - 575px) / (1440 - 575)));
                }
            }
            .carousel-item {
                img {
                    height: 348px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        .carousel-control-prev, .carousel-control-next {
            .carousel-control-prev-icon, .carousel-control-next-icon {
                display: inline-block;
                width: 40px;
                height: 40px;
                background-size: 100% 100%;
                border-radius: 50%;
            }
        }
    }
}