$list-color: rgb(29, 29, 29);
$hover-color: rgb(77, 204, 130);
$white: #fff;
$arrow-color: rgb(110, 110, 110);

$topmenu-background: rgb(61, 61, 61);
$footer-background: rgb(61, 61, 61);
$copyright-background: rgb(155, 155, 155);
$border-color: rgb(61, 61, 61);